asgiref==3.10.0
Django==5.2.7
mysqlclient==2.2.7
python-dateutil==2.9.0.post0
schedule==1.2.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
python-dotenv==1.2.1
gunicorn==23.0.0
whitenoise==1.4.1
dj-database-url==1.4.0
psycopg2-binary==2.9.12
