<!--templates/pacientes/perfil_paciente.html-->
<a href="{% url 'lista_pacientes' %}">← Voltar para lista</a>

<h2>Perfil de {{ paciente.get_full_name }}</h2>

<p><strong>CPF:</strong> {{ paciente.cpf }}</p>
<p><strong>Email:</strong> {{ paciente.email }}</p>
<p><strong>Telefone:</strong> {{ paciente.telefone }}</p>
<p><strong>Data de nascimento:</strong> {{ paciente.data_nascimento|default:"Não informado" }}</p>
<p><strong>Endereço:</strong> {{ paciente.endereco|default:"Não informado" }}</p>

<h3>Anamnese</h3>
{% if anamnese and anamnese.conteudo %}
    <p>{{ anamnese.conteudo|linebreaks }}</p>
{% else %}
    <p>Ainda não preenchida.</p>
{% endif %}
<a href="{% url 'editar_anamnese' paciente.id %}" class="btn btn-primary mt-2">Editar Anamnese</a>

<h3>Tarefas de Casa</h3>
<a href="{% url 'listar_rpds_paciente' paciente.id %}" class="btn btn-primary mt-2">Listar RPD's realizados</a>
<br>
<a href="{% url 'listar_humores_paciente' paciente.id %}" class="btn btn-primary mt-2">Listar Registros de Humor realizados</a>